<% form_for @email_order, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
  <p>
    <%= f.label "Name" %>
  </p>
  <p>
    <%= f.text_field :sender_name, :placeholder => "Your name" %>
  </p>
  <p>
    <%= f.label "Email" %>
  </p>
  <p>
    <%= f.text_field :email, :placeholder => "Your email address" %>
  </p>
  <p>
    <%= f.label "Details" %>
  </p>
  <p>
    <%= f.text_area :content, :placeholder => "Enter your message to the seller here" %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>