<fieldset id="signupform" style="margin-top:5px;">
<legend style="font-weight:normal;">Sign up now to save your List of Things for Sale</legend>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, :placeholder => "Enter your email", :class => "text", :style => "width: 220px;" %><br>

  <%= f.password_field :password, :placeholder => "Enter your password", :class => "text", :style => "width: 220px;" %><br>

  <%= f.password_field :password_confirmation, :placeholder => "Confirm your password", :class => "text", :style => "width: 220px;" %><br>

  <a class="button positive" onclick="$('#user_new').submit();"><img src="/css/plugins/buttons/icons/tick.png" alt=""> Sign Up</a>
<% end %>

</fieldset>
