<h2>Admin area</h2>

<% if @shop.user_id.nil? then %>
<%= render 'devise/registrations/new_short' %>
<% else %>
	<% if user_signed_in? %>  
  Signed in as <%= current_user.email %>. Not you?  
  <%= link_to "Sign out", destroy_user_session_path %>
	<% else %>
	<%= render :partial => "devise/confirmations/new" %>
	<% end %>
<% end %>



<h2>Settings</h2>
<% form_for(@shop) do |f| %>
  <div class="field">

	  <p>
	    <%= f.label "Payment" %><br />
		  <%= f.radio_button :payment_type, 'paypal', :checked => true %> 
		  <%= f.label :payment_type_paypal, 'Paypal', :value => "paypal" %>
		  <%= f.radio_button :payment_type, 'other' %>
		  <%= f.label :payment_type_other, 'Other', :value => "other" %>
		</p>
	  <p>
	    <%= f.label :paypal_email %><br />
	    <%= f.text_field :paypal_email %>
	  </p>
	  <p>
	    <%= f.label :payment_other_text %><br />
	    <%= f.text_area :payment_other_text %>
	  </p>


	  <p>
	    <%= f.label "Delivery" %><br />
		  <%= f.radio_button :delivery_method, 'post', :checked => true %> 
		  <%= f.label :delivery_method_post, 'Post', :value => "post" %>
		  <%= f.radio_button :delivery_method, 'collection' %>
		  <%= f.label :delivery_method_other, 'Collection', :value => "collection" %>
		</p>

	  <p>
	    <%= f.label "Postage Included" %><br />
	    <%= f.check_box :prices_include_postage, :checked => true  %>
	  </p>
	  <p>
	    <%= f.label :postage_price %><br />
	    <%= f.text_field :postage_price %>
	  </p>

	  <p>
		  <%= f.radio_button :postage_type, 'flat_rate', :checked => true %> 
		  <%= f.label :postage_type_flat, 'Flat Rate', :value => "flat_rate" %>
		  <%= f.radio_button :postage_type, 'per_item' %>
		  <%= f.label :postage_type_per_item, 'Per Item', :value => "per_item" %>
		</p>
		<p>
		<%= f.submit "Start Selling Now!" %>
		</p>
  </div>
<% end %>

<h2>Image Upload</h2>
<h2>URL</h2>
<%= render :partial => "public_url" %>

