<hr class="space">

        <div id="left" class="span-17">
            <div id="listform"> 
              <%= form_for(@shop, :html => { :id => "new_list" }) do |f| %>
                <% if @shop.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

                    <ul>
                    <% @shop.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <h1 style="margin-top:6px;text-align:center;">Type a list of things for sale:</h1>
                <% if @shop.description %>
                                <%= f.text_area :description, :rows => "5", :cols => "20", :style => "width: 650px; height: 250px;font-size: 0.9em;font-family: Courier;" %>
                <% else %>
                                <%= f.text_area :description, :rows => "5", :cols => "20", :style => "width: 650px; height: 250px; font-size: 0.9em;font-family: Courier;", :value => "For example:

iPhone 3GS $70
Fender Guitar $280
Pocket Watch $5 Excellent condition #sale" %>
                  <% end %>
                
                
                  <div class="column span-5 prepend-6 append-5" style="padding:0 270px;">
                    <a href="javascript:;" id="listsubmit" type="submit" class="button positive" onClick="$('form#new_list').submit()">Now Click Here!
                        <img src="/css/plugins/buttons/icons/arrow_right.png" alt="" />
                    </a>
                </div>
                <% end %>
                <hr class="space" />
                <hr class="space" />
               
            </div>
        </div>
        <div class="span-6 last" style="width:240px; padding:0px 15px">
          <p style="margin-top:60px; text-align: center;">
            <img src="/images/list240.gif" alt="list of things for sale"><br>
          </p>
          <div id="editdescription">
            Type a list of things you want to sell into the box with each line like this:<br>
            <p style="margin-top:15px;text-align: center;">
              <span id="tagline" class="highlight"><b>←</b> Title &nbsp; $Price &nbsp; Description</span>
            </p>
            <p>
              If you don't want to sell anything yet,<br>
              <a href="http://listofthingsforsale.com/matthias">buy something from our list instead!</a><br>
              <br>
              <span style="font-size: 85%;">Coming Soon:<br>
              1. +quantity for multiple item sales, ie +5<br>
              2. #tags for categorising, ie #electronics</span>
            </p>
          </div>
        </div>
        <hr class="space" />
        <hr class="space" />
