<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "simpleCart.js" %>
	<script type="text/javascript">
		simpleCart.email = "<% if @shop.paypal_email.nil? %>test@test.com<% else %><%= @shop.paypal_email %><% end %>";
		simpleCart.checkoutTo = PayPal;
		simpleCart.currency = GBP;
		simpleCart.cartHeaders = ["name", "Total"];
	</script>
<%end%>

<span class="simpleCart_shopPrefix" style="display: none;">sc<%= @shop.id %>_</span>

<div class="container">
    <hr class="space">
    <hr class="space">
		<h1><%= @shop.url %>&#x27;<% if @shop.url[-1,1] != "s" %>s<% end %> list of things for sale:</h1>
		
    <div id="left" class="span-15 colborder">
      <div id="listview">
				<% @sorted_items = @shop.items.sort{ |a,b| ( a.sort_order and b.sort_order ) ? a.sort_order.to_i <=> b.sort_order.to_i : ( a.sort_order ? -1 : 1 ) } %>
				
				<% @sorted_items.select{ |i| i.quantity > 0 }.each do |item| %>
					<%= render :partial => "items/show_public", :locals => { :item => item, :item_index => @sorted_items.index(item) } %>
				<% end %>
      </div>
			<% @sold_out_items = @sorted_items.select{ |i| i.quantity == 0 } %>
			<% if !@sold_out_items.empty? %>
			<hr class="space">
	      <div id="listview">
					<% @sold_out_items.each do |item| %>
						<%= render :partial => "items/show_public", :locals => { :item => item, :item_index => @shop.items.index(item) } %>
					<% end %>
	    	</div>
			<% end %>
    </div>
    <div class="span-7 last">
	
	


		  <% flash.each do |name, msg| %>
		    <%= content_tag :p, msg, :id => "flash_#{name}" %>
		  <% end %>


						<!-- <p class="box success">Success!<br/>
						<b>3 items were added to your list</b><br/>
						You're ready to start selling online. Sign up below and upload some images!
							</p>


				<p class="box error">Oops, something went wrong:<br/>
					<b>Bespoke Error Message</b><br/>
					</p> -->


					    <p style="text-align: center;" class="sidey">

			     <a href="http://listofthingsforsale.com"> <img src="/images/list240.gif" alt="list of things for sale" /></a><br/>
			<span id="tagline" class="highlight"><a href="http://listofthingsforsale.com">the minimal way to sell online</a></span></p>


		        <div id="cart">
                <p style="margin: 10px 0 5px;">
		                You have <span class="simpleCart_quantity"></span>&nbsp;items in your Cart:</p>
		            <div class="simpleCart_items">
		            </div>
		            <hr style="margin-bottom: 10px;" />
		            <!--use a class of simpleCart_empty to empty the cart and simpleCart_checkout to checkout -->
		            <p>
		                Total <span class="simpleCart_total"></span>
		                <br />
		                <a href="javascript:;" class="simpleCart_empty">Empty Cart</a> &nbsp;|&nbsp; <a href="javascript:;"
		                    class="simpleCart_checkout">Checkout</a></p>
		            <hr class="space" />
		            <hr class="space" />
		            <hr class="space" />
		            <hr class="space" />
		        </div>
		    </div>
    <hr class="space" />
</div>

<script>        $(document).ready(function () {
        $("#item1").click(function () {
            $("#item-desc1").fadeToggle('slow');
        }); $("#item2").click(function () { $("#item-desc2").fadeToggle('slow'); }); $("#item3").click(function 
() { $("#item-desc3").fadeToggle('slow'); }); $("#item4").click(function () {
    $("#item-desc4").fadeToggle('slow');
}); $("#item5").click(function () { $("#item-desc5").fadeToggle('slow'); });
    });
</script>

