<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "list.js" %>
  <%= javascript_include_tag "simpleCart.js" %>
  <script type="text/javascript">
    simpleCart.email = "<% if @shop.paypal_email.nil? %>testing@listofthingsforsale.com<% else %><%= @shop.paypal_email %><% end %>";
    simpleCart.checkoutTo = PayPal;
    simpleCart.currency = USD;
    simpleCart.cartHeaders = ["name", "Total"];
  </script>
  <script type="text/javascript" charset="utf-8">
    function submitForm() {
      $("form.edit_shop").submit();
    };
    function changeItemPhoto() {
      itemIdToChange = $("select#item_image_name_item_image_id").val();
      $("form.edit_item_images").attr("action","/items/" + itemIdToChange);
      $("#item_photo_1").show();
      $("#upload_image_button").show();
    }

    
  </script>

<% end %>

<hr class="space">
<hr class="space">

<span class="simpleCart_shopPrefix" style="display: none;">sc<%= @shop.id %>_</span>
<% if !@shop.background_id.nil? %>
  <% background = Background.find_by_id(@shop.background_id) %>
  <% if !background.nil? %>
    <span id="background_url" style="display: none;"><%= background.background_image.url(:profile) %></span>
  <% end %>
<% end %>

<div id="left" class="span-17">
  <% if (session[:shop_id].to_i == @shop.id) or (user_signed_in? and @shop.user == current_user) %>
    <h1 style="text-align:center;">Your list of things for sale:</h1>
  <% else %>
    <h1 style="text-align:center;"><%= @shop.url %>&#x27;<% if @shop.url[-1,1] != "s" %>s<% end %> list of things for sale:</h1>
  <% end %>
  <div style="width: 100%; height: 40px;">
    <div class="filter">
      <a href="javascript:;" id="filter-none">all</a>
      <% @shop.items.collect{|i| i.categories }.flatten.uniq.each do |category| %>
      <a href="javascript:;" id="filter-<%= category.name %>"><%= category.name %></a>
      <% end %>
    </div>
  </div>
  
  <%= render :partial => 'list', :locals => {:shop => @shop} %>
</div>

  <%= render :partial => 'sidebar' %>

  </div>
  <hr class="space">
</div>
<hr class="space">
</div>


<script type="text/javascript">
  // ** Hide **
  function hideList() {
    if ($("#listform").is(":visible")) {
      $('#listform').fadeToggle('fast', function () {
          $('#listview').fadeToggle('fast');
      });
    };
  };
  function hideSidebar() {
    if ($("#sidebarform").is(":visible")) {
      $('#sidebarform').fadeToggle('fast', function () {
          $('#sidebarview').fadeToggle('fast');
      });
    };
  };
  function hideStyling() {
    if ($("#styling").is(":visible")) {
      $('#styling').slideToggle('slow');
    };
  };
  function hideConfig() {
    if ($("#config").is(":visible")) {
      $('#config').slideToggle('slow');
    };
  };
  function hideAccount() {
    if ($("#account").is(":visible")) {
      $('#account').slideToggle('slow');
    };
  };
  function hidePrepublish() {
    if ($("div#prepublish").is(":visible")) {
      $('a#prepublish-action').text("Publish It");
      $('div#prepublish').slideToggle('slow', function() {
        $('div#prepublish').remove();
      });
    };
  };
  // ** Unused **
  function hideImages() {
    if ($("#images").is(":visible")) {
      $('#images').slideToggle('slow');
    };
  };
  function hideAll() {
    hideList();
    hideConfig();
    hideAccount();
    hideImages();
    hidePrepublish();
    hideSidebar();
    hideStyling();
  };
  // ** Show **
  function showList() {
    editinglist = $("#listform").is(":visible");
    if (editinglist) {
      $('#listform').fadeToggle('fast', function () {
          $('#listview').fadeToggle('fast');
      });
    } else {
      $('#listview').fadeToggle('fast', function () {
          $('#listform').fadeToggle('fast');
      });
    };
    hideConfig();
    hideAccount();
    hideImages();
    hidePrepublish();
    hideSidebar();
    hideStyling();
  };
  
  function showSidebar() {
    editingsidebar = $("#sidebarform").is(":visible");
    if (editingsidebar) {
      $('#sidebarform').fadeToggle('fast', function () {
          $('#sidebarview').fadeToggle('fast');
      });
    } else {
      $('#sidebarview').fadeToggle('fast', function () {
          $('#sidebarform').fadeToggle('fast');
      });
    };
    hideList();
    hideConfig();
    hideAccount();
    hideImages();
    hidePrepublish();
    hideStyling();
  };
  function showStyling() {
    $('#styling').slideToggle('slow');
    hideList();
    hideConfig();
    hideAccount();
    hideImages();
    hidePrepublish();
    hideSidebar();
  };
  
  function showAccount() {
      $('#account').slideToggle('slow');
    hideList();
    hideConfig();
    hideImages();
    hidePrepublish();
    hideSidebar();
    hideStyling();
  };
  function showImages() {
    $('#images').slideToggle('slow');
    hideList();
    hideAccount();
    hideConfig();
    hidePrepublish();
    hideSidebar();
    hideStyling();
  };
  function showConfig() {
      $('#config').slideToggle('slow');
    hideList();
    hideAccount();
    hideImages();
    hidePrepublish();
    hideSidebar();
    hideStyling();
  };
  
  function showPrepublish() {
    if (!$("div#prepublish").is(":visible")) {
      $('a#prepublish-action').text("Cancel");
      $('a#prepublish-action').click(hidePrepublish());
      $('div#prepublish').slideToggle('slow');
    };
    hideList();
    // hideConfig();
    // hideAccount();
    hideImages();
    hideSidebar();
    hideStyling();
  };
  
  function updateBackgroundSelected() {
    // Update background to that selected
    if ($(".currentbg img").length > 0) {
      url = $(".currentbg img").attr('src');
    } else {
      url = $("span#background_url").text();
    };
    $("body").attr('style', 'background: url(\'' + url.replace(/'/g, "\\'") + '\') top left repeat;');
  }
  
  $(document).ready(function () {
    updateBackgroundSelected();
    
    $('#editlist').click(function () {
      showList();
    });

    $('#editsidebar').click(function () {
      showSidebar();
    });

    $('#editstyling').click(function () {
      showStyling();
    });
  
    $('#editconfig').click(function () {
      showConfig()
    });

    $('#editaccount').click(function () {
      showAccount();
    });

    $('#editimages').click(function () {
      showImages();
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function () {
  $('a.item_name').click(function () {
    var a_clicked = this;
    if ($(a_clicked).siblings(".item_description").is(':hidden')) {
      $(a_clicked).hide();
      $(a_clicked).siblings("a.full").show();
      // $(a_clicked).css("height", "auto");
      $(a_clicked).siblings(".item_description").fadeToggle('slow');
    } else {
      $(a_clicked).hide();
      $(a_clicked).siblings("a.truncated").show();
      $(a_clicked).siblings(".item_description").fadeToggle('slow', function() {
        // $(a_clicked).css("height", "18px");
      });
    };
  }); 
});
</script>

<script type="text/javascript">
        
    /* 
    * LOVELY THINGS
    */
    
    var templates = {
	    valueNames: [ 'category_1', 'category_2','category_3', 'category_4','category_5', 'category_6' ],
	    listClass: 'product-list'
    };

    var featureList = new List('listview', templates);
    
    <% @shop.items.collect{|i| i.categories }.flatten.each do |category| %>
    $('#filter-<%= category.name %>').click(function() {
        featureList.filter(function(values) {
            return true;
        });
        featureList.filter(function(values) {
            if (values.category_1 == "<%= category.name %>" || 
            values.category_2 == "<%= category.name %>" || 
            values.category_3 == "<%= category.name %>" || 
            values.category_4 == "<%= category.name %>" || 
            values.category_5 == "<%= category.name %>" || 
            values.category_6 == "<%= category.name %>") {
                return true;
            } else {
                return false;
            }
        });
        return false;
    });
    <% end %>
    
    // 
    // $('#filter-wowser').click(function() {
    //     featureList.filter(function(values) {
    //         if (values.category == "wowser") {
    //             return true;
    //         } else {
    //             return false;
    //         }
    //     });
    //     return false;
    // });
    
    $('#filter-none').click(function() {
        featureList.filter(function(values) {
            return true;
        });
        return false;
    });
</script>