<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "simpleCart.js" %>
	<script type="text/javascript">
		simpleCart.email = "<%= @shop.paypal_email %>";
		simpleCart.checkoutTo = PayPal;
		simpleCart.currency = GBP;
	</script>
<%end%>

<span class="simpleCart_shopPrefix" style="display: none;">sc<%= @shop.id %>_</span>

<div class="container">
    <hr class="space">
    <hr class="space">
		<h1><%= @shop.url %>&#x27;<% if @shop.url[-1,1] != "s" %>s<% end %> list of things for sale:</h1>
		
    <div id="left" class="span-15 colborder">
      <div id="listview">
				<% @shop.items.each_index do |item_index| %>
					<%= render :partial => "items/show_public", :locals => { :item => @shop.items[item_index], :item_index => item_index } %>
				<% end %>
      </div>
    </div>
    <div class="span-7 last">
        <p style="text-align: center;">
            <b>listofthingsforsale.com/yourname</b><br />
            <span id="tagline" class="highlight">the minimal way to sell online</span></p>
        <div id="editdescription" style="display: none;">
            <!-- Use the Format:-->
            Type a list into the box like this:<br />
            <br />
            Title&nbsp; £Price&nbsp; Description<br />
            <br />
            1. Currency is in $ or £<br />
            2. Description is optional
            <br />
            <br />
            If you don't want to sell anything just now,
            <br />
            <a href="">buy something from our list instead!</a>
            <br />
            <br />
            <span style="font-size: 85%;">Coming Soon:<br />
                1. +quantity for multiple item sales, ie +5<br />
                2. #tags for categorising, ie #electronics</span>
        </div>
        <div id="cart">
            <hr style="margin-bottom: 10px;" />
            <p style="margin-bottom: 5px;">
                You have <span class="simpleCart_quantity"></span>&nbsp;items in your Cart:</p>
            <div class="simpleCart_items">
            </div>
            <hr style="margin-bottom: 10px;" />
            <!--use a class of simpleCart_empty to empty the cart and simpleCart_checkout to checkout -->
            <p>
                Total <span class="simpleCart_total"></span>
                <br />
                <a href="javascript:;" class="simpleCart_empty">Empty Cart</a> &nbsp;|&nbsp; <a href="javascript:;"
                    class="simpleCart_checkout">Checkout</a></p>
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
        </div>
    </div>
</div>


<script>        $(document).ready(function () {
        $("#item1").click(function () {
            $("#item-desc1").fadeToggle('slow');
        }); $("#item2").click(function () { $("#item-desc2").fadeToggle('slow'); }); $("#item3").click(function 
() { $("#item-desc3").fadeToggle('slow'); }); $("#item4").click(function () {
    $("#item-desc4").fadeToggle('slow');
}); $("#item5").click(function () { $("#item-desc5").fadeToggle('slow'); });
    });
</script>

