<div id="sidebarview">
    <% if @shop.profile_photo.file? %>
    <div class="span-6 last" style="margin:0 0 5px 0;">
      <%= image_tag(@shop.profile_photo.url(:profile)) %>
    </div>
    <% end %>
  
  <div id="aboutmeview"><h1 class="alt" style="float: left; padding:0;margin: 3px 5px 0 0; font-size: 2.7em"><%= @shop.about_me.first %></h1><span><%= @shop.about_me[1..-1] %></span></div>
  <hr style="margin-top:5px;">
</div>

<div id="sidebarform" style="display:none;">
       <%= form_for @shop, :remote => true, :html => { :multipart => true, :id => "shop_edit_about_me" } do |f| %>
       <% if @shop.profile_photo.file? %>
          <div class="span-6 last" style="margin:0; padding:0;">
         <%= image_tag(@shop.profile_photo.url(:profile), :style => "margin-bottom:10px;") %><br/>
         </div>
         <% end %>
        <%= f.file_field :profile_photo %>
        <%= f.text_area :about_me, :rows => "5", :cols => "20", :style => "width: 200px; height: 140px;" %><br />
        <%= f.submit "Save", :disable_with => 'Saving...' %>
       <% end %>

<hr>
</div>


