<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @shop.url %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
