<%= render 'public_url' %>

<% @shop.items.each do |item| %>
<div>
	<% @item = item %>
	<%= render :partial => "items/show", :object => @item %>
</div>
<% end %>


<% if @shop.status == ShopStatus::CREATED then %>
	<%= render :partial => "show_created" %>
<% elsif @shop.status == ShopStatus::SAVED then %>
	<%= render :partial => "show_saved", :object => @shop %>
<% elsif @shop.status == ShopStatus::CONFIRMED then %>
	<%= render :partial => "show_confirmed" %>
<% elsif @shop.status == ShopStatus::LIVE_FREE then %>
	<%= render :partial => "show_live_free" %>
<% end %>
