<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %><br />
    <%= f.text_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :ordered_on %><br />
    <%= f.datetime_select :ordered_on %>
  </div>
  <div class="field">
    <%= f.label :shop_id %><br />
    <%= f.text_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :buyer_paypal_email %><br />
    <%= f.text_field :buyer_paypal_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
