<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @order.shop_id %>
</p>

<p>
  <b>Ordered on:</b>
  <%= @order.ordered_on %>
</p>

<p>
  <b>Shop:</b>
  <%= @order.shop_id %>
</p>

<p>
  <b>Buyer paypal email:</b>
  <%= @order.buyer_paypal_email %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
