<li class="simpleCart_shelfItem">
  <span class="item_shopid" style="display:none;"><%= @shop.id %></span>
  <span class="item_itemid" style="display:none;"><%= item.id %></span>
    
  <% if item.photo_1.file? %>
  <div style="width: 180px; height: 135px; padding: 0; margin: 0 0 14px 0; text-align: center;">
    <%= link_to(image_tag(item.photo_1.url(:thumb)), item.photo_1.url(:medium), :class => "item_image") %>
  </div>
  <% else %>
      <div class="no-image">Image Coming Soon</div>
    <!-- <img src="/images/no-image-small.jpg" alt=""> -->
  <% end %>

  <a class="item_name itemtitle" href="javascript:;" id="item<%= item_index + 1 %>" name="item<%= item_index + 1 %>"><%= item.name %></a>
  <div class="item_description" id="item-desc<%= item_index + 1 %>" style="display: none;"><%= item.description_text %><br />
    <% if item.quantity > 0 %>
      <%= item.quantity %> Available
    <% else %>
      Sold out
    <% end %>
    <hr class="space" style="margin-bottom:10px;"/>
  </div>
  <span class="item_add">
    
    <span style="<%= "display:none;" if item.quantity == 0 %>">
      <a class="item_addtocart button" href="javascript:;" style="margin: 0;">Add to Cart</a>
    </span>  
    <div class="added-to-cart" style="<%= "display:none;" if item.quantity > 0 %>">Sold Out</div>
  </span>
  
  <span class="item_price price"><%= number_to_currency(item.price, :unit => "£") %></span>
  
</li>
