<li class="simpleCart_shelfItem">  
    <span class="category_1" style="display:none;"><%= if item.categories.count > 0 then item.categories[0].css_name end %></span>  
    <span class="category_2" style="display:none;"><%= if item.categories.count > 1 then item.categories[1].css_name end %></span>  
    <span class="category_3" style="display:none;"><%= if item.categories.count > 2 then item.categories[2].css_name end %></span>  
    <span class="category_4" style="display:none;"><%= if item.categories.count > 3 then item.categories[3].css_name end %></span>  
    <span class="category_5" style="display:none;"><%= if item.categories.count > 4 then item.categories[4].css_name end %></span>  
    <span class="category_6" style="display:none;"><%= if item.categories.count > 5 then item.categories[5].css_name end %></span>  
    <span class="item_shopid" style="display:none;"><%= @shop.id %></span>
  <span class="item_itemid" style="display:none;"><%= item.id %></span>
    
  
    <% if shop and ((session[:shop_id].to_i == shop.id) or (user_signed_in? and shop.user == current_user)) %>
      <%= form_for item, :remote => true, :html => { :multipart => true, :id => "item_edit_" + item.id.to_s } do |f| %>
        <div style="position: relative; display: block; height: 135px; width: 180px; margin: 0 0 14px 0; overflow: hidden;" id="upload-input">
          <%= f.file_field :photo_1, :maxlength => "99999", :id => "item_photo_1", :style => "display: block; position: absolute; text-align: right; top: 0pt; right: 0pt; cursor: pointer; font-size: 135px; opacity:0; z-index: 2;filter: alpha(opacity = 0);" %>
        
          <% if item.photo_1.file? %>
            <%= image_tag(item.photo_1.url(:thumb), :alt => "Browse") %>
          <% else %>
            <img width="180px" height="135px" style="width:180px;height:135px;" alt="Browse" src="/images/click-to-upload2.jpg">
          <% end %>
        </div>
        
      <% end -%>
      
    <% else %>
    
      <% if item.photo_1.file? %>
        <div style="width: 180px; height: 135px; padding: 0; margin: 0 0 14px 0; text-align: center;">
          <%= link_to(image_tag(item.photo_1.url(:thumb)), item.photo_1.url(:medium), :class => "item_image") %>
        </div>
      <% else %>
        <div class="no-image">Image Coming Soon</div>
      <% end %>
      
    <% end %>
    

  <a class="item_name itemtitle truncated" href="javascript:;" id="item<%= item_index + 1 %>" name="item<%= item_index + 1 %>"><%= truncate(item.name, :length => 25) %></a>
  <a class="item_name itemtitle full" href="javascript:;" id="item<%= item_index + 1 %>" name="item<%= item_index + 1 %>" style="display: none; height: auto;"><%= item.name %></a>
  <div class="item_description" id="item-desc<%= item_index + 1 %>" style="display: none;"><%= item.description_text %><br />
    <% if item.quantity > 0 %>
      <%= item.quantity %> Available
    <% else %>
      Sold out
    <% end %>
    <hr class="space" style="margin-bottom:10px;"/>
  </div>
  <span class="item_add">
    
    <span style="<%= "display:none;" if item.quantity == 0 %>">
      <a class="item_addtocart button" href="javascript:;" style="margin: 0;">Add to Cart</a>
    </span>  
    <div class="added-to-cart" style="<%= "display:none;" if item.quantity > 0 %>">Sold Out</div>
  </span>
  <span class="item_price price"><%= if item.price > 0 then number_to_currency(item.price, :unit => Currency::Symbol[shop.currency]) else "FREE" end %></span>
  
</li>
