<li class="simpleCart_shelfItem">
  <a class="item_image" href="images/touch500.jpg">
    <% if item.photo_1.file? %>
    <%= link_to(image_tag(item.photo_1.url(:thumb)), item.photo_1.url(:medium), :class => "item_image") %>
    <% end %>
    
    <span class="desc"><a class="item_name" href="javascript:;" id="item1" name="item1"><%= item.name %></a></span>
   <div class="item_description" id="item-desc<%= item_index + 1 %>" style="display: none;"><%= item.description_text %><br />
     <% if item.quantity > 0 %>
      <%= item.quantity %> Available
    <% else %>
      Sold out
    <% end %>
  </div>
  <span class="item_price price"><%= number_to_currency(item.price, :unit => "£") %></span>
  <span class="item_add" style="float: right;">
    
    <span style="<%= "display:none;" if item.quantity == 0 %>">
      <a class="item_addtocart button" href="javascript:;" style="margin: 0;">Add to Cart</a>
    </span>  
    <div style="margin-top: 0; <%= "display:none;" if item.quantity > 0 %>">Sold Out</div>
  </span>
</li>
